@font-face {
    font-family:Muli-VariableFont_wght;
    src: url(../../crispies/fonts/Muli/Muli-VariableFont_wght.ttf);
  }
  @font-face {
    font-family:ComicNeue-Bold;
    src: url(../../crispies/fonts/comic_Neue/ComicNeue-Bold.ttf)
  }
  @font-face {
    font-family:OpenSans-SemiBold;
    src: url(../../crispies/fonts/Open_Sans/OpenSans-SemiBold.ttf)
  }
  body{
      margin: 0;
  }
  .header{
      background-color: #181d20;
      height: 70px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .header-left{
    margin-top: 10px;
    float: left;
    margin-left: 50px;
  }
  img{
  width: 18em;
  float: right;
  margin: 1%;
  }
  .header-right{
    margin-top: 22px;
    float: right;
  }
  .header-right a{
    
    color: white;
    font-size: 16px;
    margin-right: 50px; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }
  .logoo{
    margin-left: 70px;
    height: 50px;
    width: 130px;
    position: absolute;
  }
  .box{
    padding-left: 40%;
    margin-top: 30px;
       text-align: center;
   background-position: center;
     background-size: cover;
     position: relative;
   }
  .box2{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
  
    text-align: center;
background-position: center;
  background-size: cover;
  position: relative;
}
.heading{
    font-size: 27px;
   border-bottom: 2px solid #000000;
   width:30%;
   padding-bottom: 20px;
   font-family: Muli-VariableFont_wght;
}
   table {
    border-collapse: collapse;
    width: 100%;
    font-family:ComicNeue-Bold;
  }
th, td { 
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #181d20;
  }  
  .cartimg{
      width: 150px;
      height: 100px;
      border-radius: 30px;
  }
  .box2 input[type=submit]{
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
    text-align: center;
    margin-top: 15px;
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
  }